{% extends 'base.html' %}
{% load static %}
{% block title %}proprite{% endblock %}

{% block content %}

<!-- Search Section for Filtering in property_list.html -->
<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <form action="{% url 'rental:property_list' %}" method="GET">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <input type="text" class="form-control border-0 py-3" placeholder="Mot-clé de recherche" name="search">
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0 py-3" name="category">
                                <option value="all">Toutes les types</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}" {% if category.id|stringformat:"s" == selected_category_id %}selected{% endif %}>
                                        {{ category.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0 py-3" name="location">
                                <option value="all">Toutes les emplacements</option>
                                {% for location in locations %}
                                    <option value="{{ location.id }}" {% if location.id|stringformat:"s" == selected_location_id %}selected{% endif %}>
                                        {{ location.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-dark border-0 w-100 py-3">Rechercher</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End of Search Section -->



        <!-- Property List Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end">
                    <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                        <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                            <li class="nav-item me-2">
                                <a class="btn btn-outline-primary active" data-bs-toggle="pill" href="#tab-1">Disponible</a>
                            </li>
                            <li class="nav-item me-2">
                                <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-2">Bientôt disponible</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            {% if available_empty %}
                            <div class="alert alert-primary" role="alert">
                                Aucune propriété disponible dans cette catégorie ou emplacement. Veuillez vérifier la section "Bientôt disponible".
                            </div>
                        {% else %}

                            {% for property in available_properties %}
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'rental:property_detail' property.id %}"><img class="img-fluid" src="{{ property.main_picture.url }}" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3"> {{ property.get_contract_period_display }}</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{ property.category }}</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">XAF {{ property.price_per_month }}</h5>
                                        <a class="d-block h5 mb-2" href="{% url 'rental:property_detail' property.id %}">{{ property.category }} à {{ property.location }}</a>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ property.address }}</p>
                                        <p><i class="fa fa-calendar-alt text-primary me-2"></i>Disponible: Immédiatement</p>

                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ property.total_surface_area }} m²</small>
                                        <small class="flex-fill text-center border-end py-2">{{ property.number_of_bedrooms }} <i class="fa fa-bed text-primary me-2"></i></small>
                                        <small class="flex-fill text-center border-end py-2">{{ property.number_of_kitchens }} <i class="fa fa-utensils text-primary me-2"></i></small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-wifi text-primary me-2"></i></small>
                                        <small class="flex-fill text-center py-2">{{ property.number_of_toilets }} <i class="fa fa-bath text-primary me-2"></i></small>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane fade show p-0">
                        <div class="row g-4">

                            {% if soon_available_empty %}
                            <div class="alert alert-primary" role="alert">
                                Aucune propriété bientôt disponible dans cette catégorie ou emplacement. Veuillez vérifier la section "Disponible".
                            </div>
                        {% else %}
                            {% for property in soon_available_properties %}
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'rental:property_detail' property.id %}"><img class="img-fluid" src="{{ property.main_picture.url }}" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3"> {{ property.get_contract_period_display }}</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{ property.category }}</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">XAF {{ property.price_per_month }}</h5>
                                        <a class="d-block h5 mb-2" href="{% url 'rental:property_detail' property.id %}">{{ property.category }} à {{ property.location }}</a>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ property.address }}</p>
                                        <p><i class="fa fa-calendar-alt text-primary me-2"></i>Disponible: {{ property.date_available }}</p>

                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ property.total_surface_area }} m²</small>
                                        <small class="flex-fill text-center border-end py-2">{{ property.number_of_bedrooms }} <i class="fa fa-bed text-primary me-2"></i></small>
                                        <small class="flex-fill text-center border-end py-2">{{ property.number_of_kitchens }} <i class="fa fa-utensils text-primary me-2"></i></small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-wifi text-primary me-2"></i></small>
                                        <small class="flex-fill text-center py-2">{{ property.number_of_baths }} <i class="fa fa-bath text-primary me-2"></i></small>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Property List End -->


{% endblock %}